*~
choreonoid_tutorial/logs/*
!choreonoid_tutorial/logs/.gitkeep
choreonoid_tutorial/pictures/*.png
!choreonoid_tutorial/logs/shorttrack_simple_bipedal-*-log/
!choreonoid_tutorial/logs/shorttrack_simple_bipedal-*-log.cnoid